*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body{
  height: 100%;
  width: 100%;
}
.parent{
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
}

.card{
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
}
.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.top img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  padding: 3px 6px;
  border: 1px solid #dadada;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #dadada;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}