*{
  background-color: black;
  padding: 0;
  color: white;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
html,
body{

  height: 100vh;
  width: 100%;
}
input{
  margin: 10px;
  padding: 10px 20px;
}

.box{
  background-color: crimson;
  height: 100px;
  width: 100px;
}

.page1{
  height: 100vh;
  width: 100%;
  background-color: #111
}
.page2{
  height: 100vh;
  width: 100%;
  background-color: #222
}

.page3{
  height: 100vh;
  width: 100%;
  background-color: #333
}