* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', serif;
}
html,
body{
  height: 100%;
  width: 100%;
}
.card{
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.nav-bar{
  flex-direction: row;
  justify-content: space-between;
  background-color: deeppink;
  border: white;
}